@page
@model HangmanWeb.PagesRootDir.Game.TakeTurn

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @Model.GetString()
    Take Guess
</div>
</body>
</html>