body {
    background: url("https://thumbs.dreamstime.com/z/spider-web-background-old-house-spider-web-background-old-house-close-up-shot-108395687.jpg");
}

.box {
    background-color: crimson;
}

h2 {
    color: white;
}