<!DOCTYPE html>

<html style="text-align: center; justify-content: center; align-items: center;">
<head>
    <title>Hangman Game</title>
</head>
<body>
<div>
    <div>
        <img src="https://raw.githubusercontent.com/Destiro/Hangman/add-to-web/HangmanWeb/data/drawings/hangman_@Model.GetLives().png" style="width:800px; height: 500px;">
    </div>
    <div>
        <h3> Turn: @Model.GetTurn(), Lives: @Model.GetLives(), Guessed Word: @Model.GetGuessedWord()</h3>
        <h3> Current Guesses: @Model.GetGuesses()</h3>
        <form method = "post">
            Take A Guess (1 char): <input type = "text" name = "takeGuess" />
            <input type = "submit" name = "submit" value = "Submit" />
        </form>
    </div>
</div>
</body>
</html>